# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

variables:
  envName: psnextv2
  vmImageName: ubuntu-latest
stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Cache@2
      displayName: Cache 'node_modules' folder
      inputs:
        key: 'packagecache'
        path: 'node_modules'
    - task: Cache@2
      displayName: Cache 'dist' folder
      inputs:
        key: 'distcache'
        path: 'dist'
    - task: Kubernetes@1
      inputs:
        connectionType: 'Kubernetes Service Connection'
        kubernetesServiceEndpoint: 'psdppsnextaksdev-main'
        namespace: 'main'
        command: 'get'
        arguments: 'secret buildtag'
        secretType: 'dockerRegistry'
        containerRegistryType: 'Azure Container Registry'
        outputFormat: 'jsonpath="{.data.LAST_BUILD_SHA}"'
    - script: |
        LAST_BUILD_COMMIT_SHA="$(get.KubectlOutput)"
        echo -n LAST_BUILD_COMMIT_SHA> LAST_BUILD_COMMIT_SHA
        echo last build $(cat LAST_BUILD_COMMIT_SHA)
    - task: NodeTool@0
      displayName: 'Ensure node 18.x'
      inputs:
        versionSpec: '18.x'
    - script: |
        npm i -g nx
        npm i --legacy-peer-deps
      displayName: 'Install modules'
    - script: |
        git fetch --depth=10
        git log --pretty=oneline
        nx affected --target=build --base=$(cat LAST_BUILD_COMMIT_SHA) --prod
      displayName: 'Build affected'
    - task: Docker@2
      displayName: Login to DockerHub
      inputs:
        command: login
        containerRegistry: 'rrdockerconn'
    - task: Bash@3
      displayName: 'Build and Push docker images'
      inputs:
        targetType: 'inline'
        script: |
          nx affected --target=build-docker --base=$(cat LAST_BUILD_COMMIT_SHA) --args="--registry=$(containerRegistry) --projectid=psnextv2 --branch=$(Build.SourceBranchName) --sha=$(Build.SourceVersion)"
          # nx run api:build-docker --args=" --registry=$(containerRegistry) --projectid=psnextv2 --branch=$(Build.SourceBranchName) --sha=$(Build.SourceVersion)"
    - task: Bash@3
      displayName: 'Build k8s manifests'
      inputs:
        targetType: 'inline'
        script: |
          nx affected --target=build-k8s-manifests --base=$(cat LAST_BUILD_COMMIT_SHA) --args="--registry=$(containerRegistry) --projectid=psnextv2 --branch=$(Build.SourceBranchName) --sha=$(Build.SourceVersion)"
          # nx run api:build-k8s-manifests --args="--registry=$(containerRegistry) --projectid=psnextv2 --branch=$(Build.SourceBranchName) --sha=$(Build.SourceVersion)"
          tree ./manifests
          echo $(Build.SourceVersion) > ./node_modules/LAST_BUILD_COMMIT_SHA
    - task: PublishPipelineArtifact@1
      displayName: 'Publish Manifest Artifacts'
      inputs:
        artifactName: 'manifests'
        path: 'manifests'
- stage: Deploy
  displayName: Deploy stage
  dependsOn: Build
  jobs:
  - deployment: Deploy
    displayName: Deploy job
    pool:
      vmImage: $(vmImageName)
    environment: 'psnextv2.main' #customize with your environment
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadPipelineArtifact@2
            inputs:
              artifactName: 'manifests'
              downloadPath: '$(System.ArtifactsDirectory)/manifests'
          - task: Bash@3
            displayName: 'List manifests'
            inputs:
              targetType: 'inline'
              script: |
                tree $(System.ArtifactsDirectory)/manifests
          - task: Kubernetes@1
            inputs:
              connectionType: 'Kubernetes Service Connection'
              kubernetesServiceEndpoint: 'psdppsnextaksdev-main'
              namespace: '$(Build.SourceBranchName)'
              command: 'apply'
              arguments: '-k $(System.ArtifactsDirectory)/manifests -n $(Build.SourceBranchName)'
              secretType: 'dockerRegistry'
              containerRegistryType: 'Azure Container Registry'
# - script: |
#     pwd
#     echo Add other tasks to build, test, and deploy your project.
#     echo See https://aka.ms/yaml
#   displayName: 'Run a multi-line script'
