/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Futura Next Book';
  src: url('../../shared/ui/src/assets/FuturaNext/FuturaNext_Book.woff2') format('woff2');
}
@font-face {
  font-family: 'Minion Pro';
  src: url('../../shared/ui/src/assets/Minion/MinionPro-Regular.woff2') format('woff2');
}
body {
  margin: 0;
  padding: 0;
  background: rgb(254,65,77);
  background: radial-gradient(circle, rgba(254,65,77,0.5) 0%, rgba(7,159,255,0.5) 100%);
  background-size: 100% 200%;

  /* -webkit-animation: bganimation 30s ease infinite;
  -moz-animation: bganimation 30s ease infinite;
  animation: bganimation 30s ease infinite; */
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@-webkit-keyframes bganimation {
  0%{background-position:9% 0%}
  50%{background-position:92% 100%}
  100%{background-position:9% 0%}
}
@-moz-keyframes bganimation {
  0%{background-position:9% 0%}
  50%{background-position:92% 100%}
  100%{background-position:9% 0%}
}
@keyframes bganimation {
  0%{background-position:9% 0%}
  50%{background-position:92% 100%}
  100%{background-position:9% 0%}
}

#root {
  width: 100%;
  height: 100vh;
}

.scrollbarv {
	overflow-y: scroll;
  overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #b4b4b4 #eeeeee;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.5em;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

/* *::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
  border-radius: 20px;
  border: 1px solid #eeeeee;
} */
