/* You can add global styles to this file, and also import other style files */
body {
  margin: 0; padding: 0;
  background: rgb(254,65,77);
  background: radial-gradient(circle, rgba(254,65,77,0.5) 0%, rgba(7,159,255,0.5) 100%);
}
#root{
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#content {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

#contentbody {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.flexcenter{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data-header {
  display: flex;
  align-items: center;
  gap: 5px;
}
.dataHeaderMenuButton {
  float: left;
  margin: 0 0 0 3px;
}

.dataHeaderLabel {
  float: left;
  margin: 0 0 0 3px;
}

.dataHeaderSortDownLabel {
  float: left;
  margin: 0 0 0 3px;
}

.dataHeaderSortUpLabel {
  float: left;
  margin: 0;
}

.dataHeaderSortRemoveLabel {
  float: left;
  margin: 0 0 0 3px;
  font-size: 11px;
}
.ag-icon-compute-agg {
  background: transparent
    url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgc3Ryb2tlPSIjN0Y4QzhEIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0xMC41IDZWNC41aC01di41MzJhMSAxIDAgMCAwIC4zNi43NjhsMS43MTggMS40MzJhMSAxIDAgMCAxIDAgMS41MzZMNS44NiAxMC4yYTEgMSAwIDAgMC0uMzYuNzY4di41MzJoNVYxMCIvPjxyZWN0IHg9IjEuNSIgeT0iMS41IiB3aWR0aD0iMTMiIGhlaWdodD0iMTMiIHJ4PSIyIi8+PC9nPjwvc3ZnPg==)
    no-repeat center;
  background-size: 16px 16px;
  height: 16px;
  opacity: 0.67;
  width: 16px;
  max-width: 16px;
  display: inline-block;
}
